<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.province.postdoctor.mapper.postdoctor_info.PatentMapper">


    <select id="selectpatentInfo" parameterType="com.province.postdoctor.entity.postdoctor_info.Patent" resultType="com.province.postdoctor.entity.postdoctor_info.Patent">
        SELECT
        patenter,
        p_id,
        p_name,
        patent_name,
        papplydate,
        opendate,
        ptype
        FROM
        patent
        <where> 1=1
            <if test="patenter != null and patenter !=''">
                and patenter = #{patenter}
            </if>
            <if test="pId != null">
                and p_id = #{pId}
            </if>
            <if test="pName != null and pName !=''">
                and p_name like "%"#{pName}"%"
            </if>
            <if test="patentName != null and patentName !=''">
                and patent_name = #{patentName}
            </if>
            <if test="papplydate != null">
                and papplydate = #{papplydate}
            </if>
            <if test="opendate != null">
                and opendate = #{opendate}
            </if>
            <if test="ptype != null and ptype !=''">
                and ptype = #{ptype}
            </if>
        </where>

    </select>

    <select id="selectBydId" parameterType="com.province.postdoctor.entity.postdoctor_info.Patent" resultType="com.province.postdoctor.entity.postdoctor_info.Patent">
        SELECT
        patenter,
        p_id,
        p_name,
        patent_name,
        papplydate,
        opendate,
        ptype
        FROM
        patent
        <where> 1=1
            <if test="dId != null and dId !=''">
                and FIND_IN_SET(#{dId},d_id)
            </if>
        </where>
    </select>
    <!--根据id删除该条数据-->
    <select id="deleteById" parameterType="java.lang.String" >
        DELETE
        FROM
        patent
        WHERE
        id = #{id};
    </select>
</mapper>
