<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.province.postdoctor.mapper.postdoctor_info.PostdoctorrinformationMapper">

    <select id="selectpostdoctorInfo" parameterType="com.province.postdoctor.entity.postdoctor_info.Postdoctorrinformation" resultType="com.province.postdoctor.entity.postdoctor_info.Postdoctorrinformation">
    SELECT
    p_name,
    p_id,
    start_station,
    d_name,
    f_subject
    FROM
    postdoctorrinformation
    <where> 1=1
        <if test="dName != null and dName !=''">
            and d_name = #{dName}
        </if>
        <if test="pId != null">
            and p_id = #{pId}
        </if>
        <if test="startStation != null">
            and #{startStation} between start_station and end_station
        </if>
        <if test="endStation != null">
            and #{endStation} between start_station and end_station
        </if>
        <if test="pName != null and pName !=''">
            and p_name = #{pName}
        </if>
        <if test="pNationality != null and pNationality !=''">
            and p_nationality = #{pNationality}
        </if>
        <if test="pSex != null and pSex !=''">
            and p_sex = #{pSex}
        </if>
        <if test="subjectAreaId != null and subjectAreaId !=''">
            and subject_area_id like "%"#{subjectAreaId}"%"
        </if>
        <if test="subjectCategory != null and subjectCategory !=''">
            and subject_category = #{subjectCategory}
        </if>
        <if test="fSubject != null and fSubject !=''">
            and f_subject = #{fSubject}
        </if>
        <if test="status != null and status !=''">
            and status = #{status}
        </if>
    </where>

</select>
    <select id="selectBydId" parameterType="com.province.postdoctor.entity.postdoctor_info.Postdoctorrinformation" resultType="com.province.postdoctor.entity.postdoctor_info.Postdoctorrinformation">
        SELECT
        p_name,
        p_id,
        start_station,
        d_name,
        f_subject
        FROM
        postdoctorrinformation
        <where> 1=1
            <if test="dId != null and dId !=''">
                and FIND_IN_SET(#{dId},d_id)
            </if>
        </where>
    </select>
    <select id="selectBygzzdId"  resultType="com.province.postdoctor.entity.postdoctor_info.Postdoctorrinformation">
        SELECT
        p_name,
        p_id,
        start_station,
        d_name,
        f_subject
        FROM
        postdoctorrinformation
        where d_type = '01'
    </select>

    <select id="getBypId" parameterType="java.lang.Integer" resultType="com.province.postdoctor.entity.postdoctor_info.Postdoctorrinformation">
        SELECT
        *
        FROM
        `postdoctorrinformation`
        WHERE
        p_id = #{id};
    </select>

    <select id="situationOFstation" parameterType="java.lang.String" resultType="java.util.List">
            count(IF(`status`='在站',`status`,NULL)) as 在站,
            count(IF(`status`='出站',`status`,NULL)) as 出站,
            count(IF(`status`='退站',`status`,NULL)) as 退站,
            count(IF(`status`='注销',`status`,NULL)) as 注销
            FROM
            postdoctorrinformation
            <where>
                <if test="dName != null and dName !=''">
                    and d_name = #{dName}
                </if>
            </where>
    </select>


</mapper>
