<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.province.postdoctor.mapper.postdoctor_info.TreatiseMapper">


    <select id="selecttreatiseInfo" parameterType="com.province.postdoctor.entity.postdoctor_info.Treatise" resultType="com.province.postdoctor.entity.postdoctor_info.Treatise">
        SELECT
        d_name,
        treatise_name,
        publication_date,
        treatise_type,
        treatise_number,
        author_rank
        FROM
        treatise
        <where> 1=1
            <if test="dName != null and dName !=''">
                and d_name like "%"#{dName}"%"
            </if>
            <if test="treatiseName != null and treatiseName !=''">
                and treatise_name like "%"#{treatiseName}"%"
            </if>
            <if test="publicationDate != null">
                and publication_date <![CDATA[<]]> #{publicationDate}
            </if>
            <if test="treatiseType != null and treatiseType !=''">
                and treatise_type = #{treatiseType}
            </if>
            <if test="treatiseNumber != null and treatiseNumber !=''">
                and treatise_number = #{treatiseNumber}
            </if>
            <if test="authorRank != null and authorRank !=''">
                and author_rank = #{authorRank}
            </if>
        </where>

    </select>

    <select id="selectBydId" parameterType="com.province.postdoctor.entity.postdoctor_info.Treatise" resultType="com.province.postdoctor.entity.postdoctor_info.Treatise">
        SELECT
        p_id,
        p_name,
        treatise_name,
        publication_date,
        treatise_type,
        treatise_number,
        author_rank
        FROM
        treatise
        <where> 1=1
            <if test="dId != null and dId !=''">
                and FIND_IN_SET(#{dId},d_id)
            </if>
        </where>
    </select>
</mapper>
