<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.province.postdoctor.mapper.station_info.GzzInformationMapper">

    <!--根据名字查询学科平目录的所有信息到table-->
    <select id="selectPoetTable" resultType="com.province.postdoctor.entity.station_info.poetTable">
SELECT
    d_id,
	d_name,
	d_type,
	department,
	f_subject,
	cddepartment,
	fixedphone,
	fax
FROM
	ldz_information
WHERE
	 d_name LIKE "%"#{dName}"%"
UNION ALL
	SELECT
	    d_id,
		d_name,
		d_type,
		f_job AS department,
		s_job AS f_subject,
	    cddepartment,
		fixedphone,
		fax
	FROM
		gzz_information
	WHERE
		d_name LIKE "%"#{dName}"%"
</select>

</mapper>
