<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.province.postdoctor.mapper.station_info.GzzInformationMapper">

    <!--根据条件查询设站单位的所有信息到table-->
    <select id="selectPoetTable" parameterType="com.province.postdoctor.entity.station_info.PoetTable" resultType="com.province.postdoctor.entity.station_info.PoetTable">
SELECT
	d_name 'dName',
	cddepartment,
	fixedphone,
	fax
FROM
	ldz_information
    <where> 1=1
		<if test="dName != null and dName !=''">
		    and d_name like #{dName}
	    </if>
		<if test="dType != null and dType !=''">
			and d_type = #{dType}
		</if>
		<if test="department != null and department !=''">
			and department = #{department}
		</if>
		<if test="fsubject != null and fsubject !=''">
		    and FIND_IN_SET(#{fsubject},f_subject)
		</if>
	</where>
UNION ALL
	SELECT
		d_name 'dName',
		cddepartment,
		fixedphone,
		fax
	FROM
		gzz_information
	<where> 1=1
		<if test="dName != null and dName !=''">
			and d_name like #{dName}
		</if>
		<if test="dType != null and dType !=''">
			and d_type = #{dType}
		</if>
		<if test="Industry != null and Industry !=''">
			and FIND_IN_SET(#{Industry},Industry)
		</if>
	</where>
</select>


	<!--查询全部流动站的所有信息到table-->
	<select id="selectPoetTableByType" resultType="com.province.postdoctor.entity.station_info.PoetTable">
		SELECT
		d_name 'dName',
		cddepartment,
		fixedphone,
		fax
		FROM
		ldz_information
		WHERE
		d_type = "1"
		UNION ALL
		SELECT
		d_name 'dName',
		cddepartment,
		fixedphone,
		fax
		FROM
		gzz_information
		WHERE
	    d_type = "1"

	</select>

	<select id="selectByd_id_g"  parameterType="com.province.postdoctor.entity.station_info.GzzInformation" resultType="com.province.postdoctor.entity.station_info.GzzInformation">
        SELECT
            *
        FROM
            `gzz_information`
        WHERE d_id=#{dId};
    </select>

	<select id="selectUnitTree"   resultType="com.province.postdoctor.entity.station_info.UnitTree">
		SELECT
			d_id,d_pid,d_name
		FROM
			`gzz_information`
		UNION ALL
		SELECT
			d_id,d_pid,d_name
		FROM
			`ldz_information`

    </select>





</mapper>
