<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.province.postdoctor.mapper.station_info.LdzInformationMapper">
    <select id="selectByd_id"  parameterType="com.province.postdoctor.entity.station_info.LdzInformation" resultType="com.province.postdoctor.entity.station_info.LdzInformation">
        SELECT
            *
        FROM
            `ldz_information`
        WHERE d_id=#{dId};
    </select>


</mapper>
