<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.province.postdoctor.mapper.dictionary.DictionaryMapper">

    <!--所属部门-->
    <select id="department"   resultType="com.province.postdoctor.entity.dictionary.Dictionary">
        SELECT
            `title`
        FROM
            dictionary
        WHERE
	updictionaryId = '10001'
    </select>
<!--一级学科-->
    <select id="f_subject"   resultType="com.province.postdoctor.entity.dictionary.Dictionary">
        SELECT
            `title`
        FROM
            dictionary
        WHERE
	updictionaryId = '10003'
    </select>



</mapper>
